*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

#container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    /*margin: 20px auto;*/
    width:500px;
    height: auto;

    border:3px solid #222;

    background-color: gray;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#display{
    margin: 20px 0px;
    width: 450px;
    height: 100px;

    font-size:x-large;
    font-family: monospace;
    text-align: right;

    border: 10px #444 inset;
    background-color: aliceblue;

    display:flex;
    justify-content: right;
    align-items: end;
}

#keypad{
    margin: 20px 0px 40px 0;
    width: 450px;
    height: auto;

    display: flex;
    flex-flow: column nowrap;
    align-items:center;
}

.row{
    width: 450px;

    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
}

button{
    padding: 10px 10px;
    font-size:xx-large;
    border: 2px #222 solid;
    flex: 1;
}

.operator-btn{
    background-color: #f8b557ef;
}

.function-btn#equals{
    background-color: #ee6363f4;
    color: white;
}

.function-btn#clear{
    color: white;
    background-color: #444;
}